 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<!-- <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" href="../css/bootstrap.min.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" th:href="@{css/head.css}" href="../css/head.css" /> -->

	<meta charset="utf-8"></meta>
	<style>

	</style>
	
</head>
<body>

	<script th:src="@{js/jquery.min.js}" src="../js/jquery.min.js"></script>
	<!-- <script th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script> -->
</body>
</html>