<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登陆界面</title>
    <!-- Loading Bootstrap -->
    <link href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link rel="stylesheet" type="text/css" href="../css/login.css" th:href="@{css/login.css}">
    <!--@*1、组件引用*@@-->
    <script src="../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script language="JavaScript" src="../js/mylogin.js" th:src="@{js/mylogin.js}"></script>
</head>
<body>
<h1>社交平台</h1>
<form>
    <div class="box">
        <h2>用户登录</h2>
        <div id="error_box"></div>
        <div class="input_box">
            <input type="text" placeholder="请输入用户名" id="username" name="username"/>
        </div>
        <div class="input_box">
            <input type="password" placeholder="请输入密码" id="password" name="password"/>
        </div>
        <div class="input_box">
            <!-- type="button"这里的要这样写不让页面会默认为type="submit"，ajax 提交时页面是不用刷新页面的   而表单提交需要刷新，这里我们是不用刷新色-->
            <span style="color:#FF6666;">  <button id="login" type="button">登录</button></span>
        </div>
        <div class="input_box">
            <p class="p1 line">还没有账号，<a href="register.html">立即注册»</a></p>
        </div>
    </div>
</form>

</body>
</html>
