<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link href="../css/homepage.css" th:href="@{css/homepage.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{css/mystyle.css}" href="../css/mystyle.css">
    <script th:src="@{js/jquery.min.js}" src="../js/jquery.min.js"></script>
    <script th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <!--<script th:src="@{js/ajaxfileupload.js}" type="text/javascript" src="../js/ajaxfileupload.js"></script>-->
    <script th:src="@{js/homepage.js}" src="../js/homepage.js"></script>
    <script th:src="@{js/publish_blog.js}" src="../js/publish_blog.js"></script>
    <script th:src="@{js/url_analysis.js}" src="../js/url_analysis.js"></script>
    <script th:src="@{js/follow.js}" src="../js/follow.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_info">
            <div class="tx">
                <img src="image/tx.jpg" class="tx">
            </div>
            <div class="username">
                <h1 class="user" id="my_name"></h1>
            </div>
        </div>
        <div class="header_nav">
            <div class="header_nav_container">
                <a id="my_homepage">
                    <span>我的主页</span>
                </a>
                <a id="publish_blog">
                    <span>发布博客</span>
                </a>
                <div class="search">
                    <input type="text" class="s_input" id="s_input">
                    <img class="s_pic" src="image/fdj.png" onclick="doSearch()">
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <div class="left_nav">
                <table class="table_container">
                    <tbody>
                        <tr>
                            <td>
                                <a id="show_followed">
                                    <strong class="txt1"></strong>
                                    <span>关注</span>
                                </a>
                            </td>
                            <td>
                                <a id="show_follower">
                                    <strong class="txt1"></strong>
                                    <span>粉丝</span>
                                </a>
                            </td>
                            <td>
                                <a id="show_blog">
                                    <strong class="txt1"></strong>
                                    <span>博客</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="personal_data">
                <div class="block_header txt1">
                    <div class="block_header_name">
                        <a>个人简介</a>
                    </div>
                </div>
                <div class="personal_info">
                    <ul id="my_info">
                        <li class="personal_item">
                            <span class="item_img">
                                <img src="image/dingwei.png">
                            </span>
                            <span class="personal_item_desc"></span>
                        </li>
                        <li class="personal_item">
                            <span class="item_img">
                                <img src="image/dangao.png">
                            </span>
                            <span class="personal_item_desc"></span>
                        </li>
                        <li class="personal_item">
                            <span class="item_img">
                                <img src="image/jianjie.png">
                            </span>
                            <span class="personal_item_desc"></span>
                        </li>
                    </ul>
                </div>
                <!--<div class="block_foot">-->
                    <!--<span class="block_foot_text">查看更多</span>-->
                    <!--<span class="block_foot_img">-->
                        <!--<img src="../image/youjiantou.png">-->
                    <!--</span>-->
                <!--</div>-->
            </div>
            <div class="friends_recommend">
                <div class="block_header txt1">
                    <div class="block_header_name">
                        <a>好友推荐</a>
                    </div>
                </div>
                <div class="recommend_list">
                    <ul id="my_recommend_list">
                    </ul>
                </div>
                <!--<div class="block_foot">-->
                    <!--<span class="block_foot_text">查看更多</span>-->
                    <!--<span class="block_foot_img">-->
                        <!--<img src="../image/youjiantou.png">-->
                    <!--</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="content_section">
            <div class="dialog">
                <div class="dhead">随时随地分享新鲜事</div>
                <div class="inputplace">
                    <div id="input" class="input" contenteditable="true"></div>
                </div>
                <div class="dbot">
                    <span class="addpic">图片 </span>
                    <span>
                        <form id="uploadform" name="uploadform" enctype="multipart/form-data">
                            <input type="file" id="image" name="image" class="select_pic" onchange="changepic(this)" style="display: none">
                        </form>
                    </span>
                    <button class="sbtn">发布</button>
                </div>
                <div id="show"style="display: none">
                    <img id="preview" src="">
                    <div id="show_btns">
                        <button id="pic_upload">上传</button>
                        <button id="pic_cancle">取消</button>
                    </div>
                </div>
            </div>

            <div class="tab_div" id="blog_list_tab">
                <div class="block_header txt1">
                    <div class="block_header_name">
                        <a>好友动态</a>
                        <a class="block_header_icon" onclick="blog_load()"><img src="image/refresh.png"></a>
                    </div>
                </div>
                <div id="blog_list">
                </div>
            </div>
            <div class="tab_div" id="my_blog_list_tab">
                <div class="block_header txt1">
                    <div class="block_header_name">
                        <a>我的博客</a>
                        <a class="block_header_icon" onclick="getUserInfo()"><img src="image/refresh.png"></a>
                    </div>
                </div>
                <div id="my_blog_list">
                </div>
            </div>
            <div class="tab_div" id="followed_list_tab">
                <div class="friends_recommend">
                    <div class="block_header txt1">
                        <div class="block_header_name">
                            <a>关注</a>
                            <a class="block_header_icon" onclick="followed_load()"><img src="image/refresh.png"></a>
                        </div>
                    </div>
                    <div class="recommend_list">
                        <ul id="my_followed_list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab_div" id="follower_list_tab">
                <div class="friends_recommend">
                    <div class="block_header txt1">
                        <div class="block_header_name">
                            <a>粉丝</a>
                            <a class="block_header_icon" onclick="follower_load()"><img src="image/refresh.png"></a>
                        </div>
                    </div>
                    <div class="recommend_list">
                        <ul id="my_follower_list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab_div" id="search_list_tab">
                <div class="friends_recommend">
                    <div class="block_header txt1">
                        <div class="block_header_name">
                            <span id="search_result_count"></span>
                        </div>
                    </div>
                    <div class="recommend_list">
                        <ul id="my_search_list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="follow_select">
        <a id="unfollow">取消关注</a>
    </div>
</body>
<script type="text/javascript">

    $(document).ready(function() {
        hideAll();
        $("#blog_list_tab").show();
        $("#show_followed").click(function () {
            hideAll();
            $("#followed_list_tab").show();
        });
        $("#show_follower").click(function () {
            hideAll();
            $("#follower_list_tab").show();
        });
        $("#show_blog").click(function () {
            hideAll();
            $("#my_blog_list_tab").show();
        });
        $("#my_homepage").click(function () {
            hideAll();
            $("#blog_list_tab").show();
        })
    });

    function hideAll(){
        $("#blog_list_tab").hide();
        $("#my_blog_list_tab").hide();
        $("#followed_list_tab").hide();
        $("#follower_list_tab").hide();
        $("#search_list_tab").hide();
    }
</script>
</html>