<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>用户管理</title>
	<meta name="viewport"
		  content="width=divice-width,intital-scale=1,maximum-scale=1,user-scalable=no" />
	<meta charset="utf-8" />
	<!-- <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"></link>
        <link th:href="@{css/.css}" rel="stylesheet"></link> -->
	<link href="../css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../css/bootstrap-table.css"
		  th:href="@{css/bootstrap-table.css}" rel="stylesheet" />
	<link href="../css/bootstrap-editable.css"
		  th:href="@{css/bootstrap-editable.css}" rel="stylesheet" />
	<style>
		#main{width: 100%;margin-top: 51px;}
		#main .page-header{padding-left: 87px;padding-right: 87px;color: #505050;}
		/* #records{background-color: #EEEEEE;padding-top: 15px;padding-bottom: 10px;color: #777777;} */
		#table {	width: 100%;margin: 0 auto;border: none;}
		#table th {text-align: center;text-align-last: center;}
		#table td {text-align: center;}
		#table tr:hover{cursor: pointer;}

	</style>
</head>
<body>
<!--头部开始-->

<div th:replace="head"></div>
<!--头部结束-->

<div id="main" class="container">
	<div class="page-header">
		<h3>系统管理<small>&nbsp;>>&nbsp;用户管理</small>
			<span class="add pull-right"><a id="" class="btn btn-default" href="useradd.html">添加用户</a></span>
		</h3>
	</div>
	<table id="table">

	</table>
</div>
<!--主要内容结束-->
<script th:src="@{js/jquery.min.js}" src="../js/jquery.min.js"></script>
<script th:src="@{js/bootstrap-table.js}" src="../js/bootstrap-table.js"></script>
<script th:src="@{js/bootstrap-table-zh-CN.js}" src="../js/bootstrap-table-zh-CN.js"></script>
<script th:src="@{js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
<script th:src="@{js/bootstrap-editable.min.js}" src="../js/bootstrap-editable.min.js"></script>
<script th:src="@{js/bootstrap-table-editable.js}" src="../js/bootstrap-table-editable.js"></script>
<script th:src="@{js/bootstrap-select.min.js}" src="../js/bootstrap-select.min.js"></script>
<script th:src="@{js/MyTimeUtils.js}" src="../js/MyTimeUtils.js"></script>
<script th:src="@{js/user-management.js}" language="JavaScript" src="../js/user-management.js">
</script>
</body>
</html>